# CACHE
CACHE_FILE="${SCRIPT_PARENT}/cache.txt"
CACHE_TTL_HOURS=1
# WHITELIST
WHITELIST="${SCRIPT_PARENT}/whitelist.txt"
# MAIL
MAIL_ALERT=0
MAIL_TO=""
MAIL_SUBJECT="[$(hostname)] [${APP_NAME}]"
# LOG
LOG_LVL=6
LOG_TO_FILE=0
LOG_FILE="${SCRIPT_PARENT}/log.txt"
LOG_TO_CONSOLE=1
# Set this to 1 if script is run by systemd service:
LOG_TO_CONSOLE_WITH_LVL=1